@model MSUi.Models.Patient


@{
    ViewData["Title"] = "Update Patient";
}

<h2>Update Patient</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Prenom"></label>
        <input asp-for="Prenom" class="form-control" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateDeNaissance"></label>
        <input asp-for="DateDeNaissance" class="form-control" />
        <span asp-validation-for="DateDeNaissance" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" class="form-control" />
        <span asp-validation-for="Genre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adresse"></label>
        <input asp-for="Adresse" class="form-control" />
        <span asp-validation-for="Adresse" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Tel"></label>
        <input asp-for="Tel" class="form-control" />
        <span asp-validation-for="Tel" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>